# Ignore database files
*.db
*.db.gz

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environment folders
venv/
env/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
